body{
    max-width: 300pt;
    width: 550px;
    margin-left: 500px;
}
p{
    text-align: justify;
}
span{
    font-size: small;
    margin-left: 100px;
}
ul {
    margin-left: 15px;
    padding-left: 0;
}
.note{
    padding-left: 0;
    margin-left: -15px;
    display: inline-block;
}